* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  height: 100vh;
  width: 100vw;
  background: hsl(0, 0%, 98%);
}

.container {
  height: 100vh;
  width: 100vw;
}
/*
display: grid;
  grid-template-rows: 30% 60% 10%;*/

.header {
  max-width: 500px;
  margin: 40px auto;
}

.header .light-header {
  width: 100%;
  font-weight: 200;
  font-size: 2em;
  text-align: center;
  overflow-wrap: normal;
}

.header .dark-header {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  overflow-wrap: normal;
}

.header .header-description {
  width: 100%;
  text-align: center;
  overflow-wrap: normal;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
}

.card {
  width: 350px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  margin: 15px;
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.card1 {
  border-top: 5px solid hsl(0, 78%, 62%);
}

.card2 {
  border-top: 5px solid hsl(180, 62%, 55%);
}

.card3 {
  border-top: 5px solid hsl(34, 97%, 64%);
}

.card4 {
  border-top: 5px solid hsl(212, 86%, 64%);
}

.card-image {
  width: 75px;
  height: 75px;
  align-self: flex-end;
}

.footer {
}
