* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  font-size: 15px;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100vh;
  width: 100vw;
}
/*
display: grid;
  grid-template-rows: 30% 60% 10%;*/

h1,
h3,
p {
  word-wrap: normal;
}

.header {
  width: 500px;
  margin: 40px auto;
}

.header .light-header {
  font-weight: 200;
  font-size: 30px;
  text-align: center;
}

.header .dark-header {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.header .header-description {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  height: 230px;
  width: 350px;
}

.footer {
}
